# env/secrets
.env
.env.*

# editor
.vscode/
.idea/

# go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

# coverage
coverage.out

# local data
data/

# tarantool local runtime artifacts
tarantool/var/
tarantool/*.xlog
tarantool/*.snap

#public
public/avatars/