services:
  tarantool:
    image: tarantool/tarantool:3.6
    container_name: tarantool
    ports:
      - "3301:3301"
    volumes:
      - ./tarantool:/opt/tarantool
      - ./data:/var/lib/tarantool
    working_dir: /opt/tarantool
    environment:
      TARANTOOL_LOG: /dev/stdout
      TARANTOOL_LOG_LEVEL: 5
    command: tarantool /opt/tarantool/init.lua

volumes:
  tarantool_data:
